body {
  position: absolute;
  width: 90%;
  left: 5%;
  background-color: black;
}
button {
  height: 64px;
  width: 64px;
  border: solid 1px;
  border-color: white;
  border-radius: 10px;
  margin-bottom: 2px;
}

#navbar {
  position: fixed;
  height: 150px;
  width: 100%;
  left: 0%;
  background-color: #4E4D4A;
  bottom: 0;
}

#top {
  position: absolute;
  text-align: center;
  background-color: #F8A13F;
  top: 0;
  width: 100%;
  height: 50px;
  line-height: 0px;
  border: solid 2px;
  border-color: yellow;
}
